<html>
    <head>
        <title>New Post</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

    <h1>Create New Post</h1>
    <body>
        <form name="mainForm" action="" method="post">   
            <div class="row mb-3 mx-3">
            Category
            <input type="text" class="form-control" name="category" required />        
            </div>  
            <div class="row mb-3 mx-3">
            What's on Your Mind?
            <input type="text" class="form-control" name="content" required />        
            </div>  
            <div class="row mb-3 mx-3">
            <input type="submit" value="Create Post!" name="actionBtn" 
                    class="btn btn-primary" title="Insert a friend into a friends table" />
            </div>  
        </form> 
    </body>
</html>