{% extends "navbar.html" %}

{% block content %}

<html>
<head>
  <title>New Post</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<a href="/create_post" class="row mb-3 mx-3">
    <button class="btn btn-primary">New Post</button>
</a>


  <h2>Let's See What the Vibes Are...</h2>
  <div class="row justify-content-center">  
    <table class="w3-table w3-bordered w3-card-4 center" style="width:70%">
    <thead>
    <tr style="background-color:blue">
        <th width="75%">       
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <form name="updateForm" action="" method="post"> 
    {% for i in data %}
        <div>
        <tr>
            <td>@{{i[5]}} Posted a Vibe About {{i[1]}} at {{i[2]}}:</td>
        </tr>
        <tr>
            <td>{{i[4]}}</td>
        </tr>
        <tr>
            <td>{{i[3]}} Likes</td>
        </tr>
        </div>
        
    </form>
    {% endfor %}
    </table>
</div>



</body>

</html>

{% endblock %}