<html>
<h1>Welcome, {{user}}!!</h1>

<head>
  <title>New Post</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <form name="mainForm" action="" method="post">
    <div class="row mb-3 mx-3">
      New Post:
      <input type="text" class="form-control" name="post" required />
    </div>

    <div class="row mb-3 mx-3">
      <input type="submit" value="Create Post!" name="actionBtn" class="btn btn-primary"
        title="Create a New Post." />
    </div>
  </form>

</body>

</html>