{% extends "navbar.html" %}

{% block content %}
<html>
    <head>
        <script src="/static/functions.js"></script>
        <style>
            body{
              background-color: #a1caf1;
            }
          </style>
    </head>
    <body>
    <h1>You Have {{num_reqs}} Friend Requests</h1>
    <div class="row justify-content-center">  
        <table class="w3-table w3-bordered w3-card-4 center" style="width:70%">
            {% for i in data %}
            <div id="{{i[0]}}", class="container my-4 p-3" style="background-color: #f2f2f2;">
                <div class="row">
                  <div class="col">
                    <p>
                        <span class="highlight" id="user-{{i[0]}}">@{{i[0]}}</span>
                        <input type="submit" id="accept-{{i[0]}}" value="Accept" class="btn btn-primary" onclick="acceptRequest('{{i[0]}}')" method="post" />
                        <input type="submit" id="reject-{{i[0]}}" value="Reject" class="btn btn-danger" onclick="rejectRequest('{{i[0]}}')" method="post"  />
                    </p>
                    </div>
                </div>
              </div>
                
            {% endfor %}
            </table>
    </div>


</body>

</html>



{% endblock %}