<html>
<h1>Create New Account</h1>

<!-- Bootstrap-->
<head>
  <title>Create New Account</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <form name="mainForm" action="" method="post">   
    <div class="row mb-3 mx-3">
      Username:
      <input type="text" class="form-control" name="usr" required />        
    </div>  
    <div class="row mb-3 mx-3">
      Password:
      <input type="password" class="form-control" name="pwd" required />  
    </div>  
    <div class="row mb-3 mx-3">
      First Name:
      <input type="text" class="form-control" name="first_name" required />        
    </div> 
    <div class="row mb-3 mx-3">
        Last Name:
        <input type="text" class="form-control" name="last_name" required />        
    </div>
    <div class="row mb-3 mx-3">
        Email:
        <input type="text" class="form-control" name="email" required />        
    </div> 
    <div class="row mb-3 mx-3">
      <input type="submit" value="Create Account!" name="actionBtn" 
              class="btn btn-primary" title="Create new Vibes account with these credentials" />
    </div>  
    {% if error_message %}
    <div class="alert alert-danger " role="alert">
      {{ error_message }}
    </div>
    {% endif %}
  </form>

</body>



</html>