{% extends "navbar.html" %}

{% block content %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    </head>
    <h1>All Vibes Users</h1>
    <div class="row justify-content-center">  
        <table class="w3-table w3-bordered w3-card-4 center" style="width:70%">
        <thead>
        <tr style="background-color:blue">
            <th width="75%">       
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <form name="updateForm" action="" method="post" onload = "sendData()"> 
        {% for i in data %}
            <tr>
                <td>{{i[1]}} {{i[2]}} - @{{i[0]}}</td>
                <input type="hidden" value={{i[0]}} name="username" id="username">
                <td><input type="submit" value="Add Friend" name="actionBtn" class="btn btn-secondary" /></td>
                <script>
                    function sendData() { 
                        var value = document.getElementById('username').value; 
                        $.ajax({ 
                            url: '/users', 
                            type: 'POST', 
                            data: { 'data': value }, 
                            success: function(response) { 
                                document.getElementById('output').innerHTML = response; 
                            }, 
                            error: function(error) { 
                                console.log(error); 
                            } 
                        }); 
                    }
                    
                </script>
            </tr>
            
        {% endfor %}
        </form>
        </table>
    </div>

    
</html>



{% endblock %}