{% extends "navbar.html" %}

{% block content %}
<html>
    <h1>You Have {{num}} Friends</h1>
    <div class="row justify-content-center">  
        <table class="w3-table w3-bordered w3-card-4 center" style="width:70%">
            {% for i in data %}
            <div class="container my-4 p-3" style="background-color: #f2f2f2;">
                <div class="row">
                  <div class="col">
                    <p>
                        <span class="highlight" id="user-{{i[0]}}">@{{i[0]}}</span>
                    </p>
                    </div>
                </div>
              </div>
                
            {% endfor %}
            </table>
    </div>
</html>



{% endblock %}